# FastAPI settings
APP_NAME=MyFastAPIApp
APP_HOST=0.0.0.0
APP_PORT=8000
DEBUG=True

# Database settings
database_url = 'sqlite:///./your_file_database'

# Foursquare API
URL = "https://api.foursquare.com/v3/places/search"
api_token = your_api_token
